

h1.heading {
  font-size: 9rem;
  font-weight: 400;
  font-family: $font-secondary;
  color: $color-heading;

  @media only screen and (max-width: $mbl-port) {
    font-size: 6rem;
  }
  @media only screen and (max-width: $mbl-small) {
    font-size: 4.5rem;
  }
}

h2.heading {
  font-size: 4.8rem;
  font-weight: 400;
  font-family: $font-secondary;
  color: $color-heading;

  @media only screen and (max-width: $tab-port) {
    font-size: 4rem;
  }
  @media only screen and (max-width: $mbl-port) {
    font-size: 3.5rem;
  }
}

h5.heading {
  font-size: 2rem;
  font-weight: 600;
}

h4.heading {
  font-size: 2.4rem;
  font-weight: 400;
}

h6.heading {
  font-size: 1.5rem;
}

.p__text {
  font-size: 1.6rem;
  color: $color-text;
}

// Typography utils

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.color-dark {
  fill: $color-gray;
  color: $color-gray;
}

@mixin pos-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin img-size {
  height: 100%;
  width: 100%;
}

@mixin owl-btn {
  position: absolute;
      top: 40%;
      transform: translateY(-50%);
      background-color: #fff;
      color: $color-primary;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      z-index: 4;
}

@mixin sliderOverlay {
  content: "";
    height: 25rem;
    width: 32%;
    position: absolute;
    top: 0;
    z-index: 2;

    @media only screen and (max-width: $mbl-land){
      width: 22%;
    }
    @media only screen and (max-width: $mbl-land){
      width: 16%;
    }
}