// .industry-section {
//   .header {
//   }
// }

.industry {
  background: #f3f3f3;
  padding: 10rem 0 7rem 0;
  position: relative;



  .owl-carousel .owl-stage-outer {
    overflow: visible;

    &::before{
      background-image: linear-gradient(to right, rgba(243, 243, 243, 1), rgba(243, 243, 243, 0.2)); 
      left: 0;
      @include sliderOverlay;
    }
  
    &::after{
      background-image: linear-gradient(to left, rgba(243, 243, 243, 1), rgba(243, 243, 243, 0.2)); 
      right: 0;
      @include sliderOverlay;
    }
  }

  .owl-carousel {
    .owl-nav{
      // position: relative;
      // z-index: 3;
      
      .owl-prev{
        left: 20rem;
        @include owl-btn;

        @media only screen and (max-width: $tab-land){
          left: 15rem;
        }
        @media only screen and (max-width: $mbl-land){
          left: 3rem;
        }
        @media only screen and (max-width: $mbl-small){
          left: 0;
        }
      }

      .owl-next{
        right: 20rem;
        @include owl-btn;
        @media only screen and (max-width: $tab-land){
          right: 15rem;
        }
        @media only screen and (max-width: $mbl-land){
          right: 3rem;
        }
        @media only screen and (max-width: $mbl-small){
          right: 0;
        }
      }
    }
  }

  .owl-stage{
    height: 36rem;
  }

  .item {
    text-align: center;
    position: relative;
    z-index: 3;

    img {
      height: 15rem;
      max-width: 100%;
      // width: auto;
      margin: 0 auto;
      object-fit: contain;
      margin-bottom: 4rem;
      opacity: 0.5;
      transition: all .5s;
      overflow: hidden;
    }

    h2{
      font-size: 3.2rem;
      font-family: $font-primary;
      font-style: italic;
      display: none;
      transition: all .5s;

      @media only screen and (max-width: $tab-land){
        font-size: 2.8rem;
      }
      @media only screen and (max-width: $mbl-land){
        font-size: 2.4rem;
      }
      @media only screen and (max-width: $mbl-small){
        font-size: 2rem;
      }
    }
  }


  .owl-item.active.center{
    z-index: 3;
    img{
      opacity: 1;
      transform: scale(1.5);
    }
    h2{
      display: block;
      position: absolute;
      bottom: -150%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80rem;
      z-index: 4;

      @media only screen and (max-width: $tab-port){
        width: 60rem;
      }
      @media only screen and (max-width: $mbl-land){
        width: 50rem;
      }
      @media only screen and (max-width: $mbl-small){
        width: 30rem;
      }
    }
  }
}
