
.vision {
  &__header {
    margin-bottom: 4rem;
  }

  &__video {
    max-height: 65rem;
    height: 55rem;
    max-width: 123rem;
    width: 100%;
    position: relative;

    @media only screen and (max-width: $mbl-port) {
      height: 35rem;
    }
    @media only screen and (max-width: $mbl-port) {
      height: 30rem;
    }

    .embed-responsive{
      @include img-size;

      iframe{
        @include img-size;
      }
    }

    // img {
    //   @include img-size;
    // }

    // .btn-player {
    //   height: 6.5rem;
    //   width: 6.5rem;
    //   background-color: rgba(255, 255, 255, 0.308);
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   border-radius: 50%;
    // }

    // .icon-player {
    //   @include img-size;
    //   transform: scale(1);
    //   fill: $color-white;
    // }
  }
}
